@font-face {
    font-family: "marvelfont";
    src: url("BentonSans-Comp-Black-Regular.otf");
    }

body{
    background: #121212;
    background: radial-gradient(circle closest-side,rgba(175,32,0,1) 0%, rgba(175,32,0,1) 5%, rgba(93,17,0,1) 200%);
    background-repeat: no-repeat;
    margin: 0;
    overflow: hidden;

}


.main_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #121212;
    animation-name: bgcolor;
    animation-duration: 14s;
    animation-timing-function: linear;
}
@keyframes bgcolor {
    0% {background: #121212;}
    10% {background: transparent;}
    90% {background: transparent;}
    100% {background: #121212;}
}
.logo_marvel{
    position: absolute;
    color: white;
    letter-spacing: -0.08em;
    font-family: "marvelfont";
    font-weight: lighter;
    font-size: 1300%;
    animation-name: logo;
    animation-duration: 14s;
    animation-timing-function: linear;
    opacity: 0%;

}
@keyframes logo {
    15%  {opacity: 0%; font-size: 2500%; -webkit-text-stroke: 5px black;}
    16%  {opacity: 100%;}
    59.9%  {opacity: 100%;-webkit-text-stroke: 5px black;}
    60%  {-webkit-text-stroke: transparent; opacity: 50%;}
    80%  {opacity: 100%;}
    90%  {opacity: 100%;}
    100%  {opacity: 0%; font-size: 1300%;}
}
#stripslidebox{
    color: white;
}

.stripslide{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}